body{
	background-color: #ddd;
	font-family: 'Space Mono', monospace;
	padding: 20px;
}

h4, h3{
	margin-top: 40px;
}

h5{
	margin-top: 20px;
	background-color: black;
	color: white;
	display: inline-block;
	padding: 5px;
	border-radius:5px;
}

pre{
	padding: 0 !important;
	border: 0 !important;
}

code{
	word-break: break-all;
	word-wrap: break-word;
}

.sitography {
	position: relative;
	margin-top: 100px;
}


.sitography:before{
	content: '';
	width: 100px;
	height: 1px;
	background-color: #333;
	display: block;
	position: absolute;
	top:-20px;
}

.sitography a{
	color: #444;
}


.sitography h4{
	font-size: 14px;
}

.sitography ul{
	font-size: 11px;
}



.btn:focus,.btn:active,.btn:active:focus {
	outline: 0;
}

.semi-title{
	margin-top: 20px;
	border-bottom: 1px solid #333;
	display: inline-block;
}

.website{
	background-color: white;
}

.box-container{
	border: 1px dashed #666;
	margin: 3px;
	position: relative;
	min-height: 162px;
}


.box{
	width: 150px;
	height: 150px;
	border: 1px solid white;
	margin: 5px;
	background-image: url(../img/pattern.png); 
}

.box.transform-1{
	transform: translate(20px,30px) scaleY(0.7);
}

.box.transform-2{
	transform: rotateZ(35deg) rotateY(45deg);
}

.rosso{
	background: none;
	background-color: red;
}

.blu{
	background: none;
	background-color: dodgerblue;
}

.gold{
	background: none;
	background-color: gold;
}

.box.transition{
	position: relative;
	top:-50px;
	opacity:0;
	transform: rotateX(30deg);
	transform-origin: 0 0;
	transition: all 0.5s ease-in-out;
	pointer-events: none;
}

.box.transition.in{
	transform: rotateX(0);
	top:0;
	opacity: 1;
}

.arrayT{
	display: flex;
}

#appendContainer{
	display: flex;
	overflow: hidden;
}

.rolloverContainer{
	display: flex;
}

.generativeG{
	overflow: hidden;
	height: 600px;
}

.generativeG .box{
	height: 50px;
	width: 50px;
}

.gen{
	position: absolute;
}