/* Immagini studenti */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
}



.stud-img{
	height:50px;
	width: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	background-size: cover;
	background-color: #efefef;
	background-position: 50% 50%;
	position: relative;
}



.gioa{
	background-image: url(../img/gioacchino.jpg);
}

.gian{
	background-image: url(../img/gian.jpg);
}

.alfonso{
	background-image: url(../img/alfonso.jpg);
}

.ivan{
	background-image: url(../img/Ivan.jpg);
}

.foroni {
	background-image: url(../img/forons.jpg);
}

.jacopo {
	background-image: url(../img/jacopo.jpg);
}

.manu {
	background-image: url(../img/manu.jpg);
}

.enry {
	background-image: url(../img/enry.jpg);
}

.andrea{
	background-image: url(../img/andrea.jpg);
}

.carmine{
	background-image: url(../img/carmine.jpg);
}

.umberto{
	background-image: url(../img/umberto.jpg);
}

.francesco{
	background-image: url(../img/scardigno.jpg);
}

.paoli{
	background-image: url(../img/paoli.jpg);
}